<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Admin Dashboard</h1>
    <h2>Booking Requests</h2>
    {% if booking_requests %}
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Room Type</th>
                    <th>Room Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Final Price</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for request in booking_requests %}
                <tr>
                    <td>{{ request[1] }}</td> 
                    <td>{{ request[2] }}</td> 
                    <td>{{ request[3] }}</td> 
                    <td>{{ request[4] }}</td> 
                    <td>{{ request[5] }}</td> 
                    <td>{{ request[6] }}</td> 
            
                    {% if request[7] == 'enabled' %}
                        <td><form method="POST" action="{{ url_for('approve_booking', booking_request_id=request[0]) }}">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form></td>
                    {% else %}
                        <td><button class="btn btn-secondary" disabled>Approved</button></td>
                    {% endif %}
            
                    <td><form method="POST" action="{{ url_for('reject_booking', booking_request_id=request[0]) }}">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form></td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    {% else %}
        <p>No booking requests available.</p>
    {% endif %}
</body>
</html>
