<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <section class="privacy-glass">
            <h1>My Bookings</h1>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% if bookings %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Room Number</th>
                            <th>Room Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Room Info</th> <!-- New Column for Room Type Information Button -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking[0] }}</td>
                            <td>{{ booking[1] }}</td>
                            <td>{{ booking[2] }}</td>
                            <td>{{ booking[3] }}</td>
                            <td>{{ booking[4] }}</td>
                            <td>
                                <!-- Add a button that links to the detailed room type page -->
                                <a href="{{ url_for(booking[1] + '_room') }}" class="btn btn-link">View Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no bookings.</p>
            {% endif %}
        </section>
    </div>

    {% include 'chatbot.html' %}
    
    <script src="{{ url_for('static', filename='js/backgroundChanger.js') }}"></script>
    <button id="back-to-top" title="Go to top">&#8593; Back to Top</button>
    <script src="{{ url_for('static', filename='js/back-to-top.js') }}"></script>
</body>
</html>
