<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <!-- Logo aligned to the left -->
        <div class="icon">
            <img src="{{ url_for('static', filename='assets/icon.png') }}" alt="Icon" />
        </div>
        <!-- Navigation Links aligned to the right -->
        <div class="navbar-links">
            {% if not is_logged_in %}
                <a href="{{ url_for('index_no_login') }}">Home</a>
                <div class="submenu-container">
                    <span>Rooms</span>
                    <div class="submenu">
                        <div><a href="{{ url_for('Single_room') }}">Standard</a></div>
                        <div><a href="{{ url_for('Double_room') }}">Double</a></div>
                        <div><a href="{{ url_for('Deluxe_room') }}">Deluxe</a></div>
                        <div><a href="{{ url_for('Family_room') }}">Family</a></div>
                        <div><a href="{{ url_for('Suite_room') }}">Suite</a></div>
                    </div>
                </div>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('about') }}">About</a>
            {% else %}
                {% if session.get('role') == 'admin' %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('rooms') }}">Rooms</a>
                    <a href="{{ url_for('manual_booking') }}">Book Room</a>
                    <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                    <a href="{{ url_for('admin_bookings') }}">Admin Bookings</a>
                    <a href="{{ url_for('admin_revenue') }}">Admin Revenue</a>
                    <a href="{{ url_for('rejected_bookings') }}">Rejected</a>
                {% else %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <div class="submenu-container">
                        <span>Rooms</span>
                        <div class="submenu">
                            <div><a href="{{ url_for('Single_room') }}">Standard</a></div>
                            <div><a href="{{ url_for('Double_room') }}">Double</a></div>
                            <div><a href="{{ url_for('Deluxe_room') }}">Deluxe</a></div>
                            <div><a href="{{ url_for('Family_room') }}">Family</a></div>
                            <div><a href="{{ url_for('Suite_room') }}">Suite</a></div>
                        </div>
                    </div>
                    <a href="{{ url_for('book_room') }}">Book Room</a>
                    <a href="{{ url_for('my_bookings') }}">My Bookings</a>
                    <a href="{{ url_for('user_bookings') }}">My Booking Requests</a>
                {% endif %}
                <a href="{{ url_for('logout') }}" class="logout">Logout</a>
            {% endif %}
        </div>
        
    </div>


</body>
</html>
