<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <button type="submit">Register</button>
    </form>
    
</body>

</html>