<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>
    <h1>Rooms</h1>
    <table>
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Room Number</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room[1] }}</td>
                    <td>{{ room[2] }}</td>
                    <td>
                        {% if room[3] == 1 %}
                            Available
                        {% else %}
                            Unavailable
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <br>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>
