<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="privacy-glass">
            <h1>Rooms</h1>

            <!-- Date Picker Section -->
            <form id="date-form" method="GET">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>
                <br>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>
                <br><br>
                <button type="submit">Check Availability</button>
            </form>
            <p>{{ date_range_message }}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Room Type</th>
                        <th>Room Number</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room[1] }}</td>
                        <td>{{ room[2] }}</td>
                        <td>
                            {% if room[3] == 1 %}
                            <span class="availability available">Available</span>
                            {% else %}
                            <span class="availability unavailable">Unavailable</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            

            <br>
            <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>
